.card {
	width: 200px;
	height: 200px;
	border: 7px #111 solid;
	border-radius: 100%;
	background: linear-gradient(0deg, #ffffff 0%, #ffffff 50%, #fb0d3d 50%, #fb0d3e 100%);
	padding: 5px;
	margin: 5px;
	position: relative;
}

.card::before,
.btn,
.btn::before {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.card::before {
	content: "";
	width: 101%;
	background: #111;
	height: 0.5em;
}

.btn {
	background: #fff;
	width: 2.5em;
	height: 2.5em;
	border-radius: 100%;
	border: 7px solid #111;
}
.btn:before {
	content: "";
	width: 1em;
	height: 1em;
	border-radius: 100%;
	border: 3px solid #111;
}
.poketitle{
    text-decoration: none;
    font-size: 13px;
    position: absolute; /* Add this */
    top: 5%; /* Adjust this to position it where you want */
    left: 50%;
    transform: translateX(-50%);
}
.sprite{
    width: 150px;
    position: absolute;
    left: 50%; 
    top: 25%; 
    transform: translateX(-50%);
}

.link{
    color: white;
    text-decoration: none;
}
.link:hover{
    color: white;
}

/* media queries */

@media (max-width: 600px) {
	.card {
		width: 150px;
		height: 150px;
	}
	.sprite {
		width: 100px;
	}
}

@media (max-width: 350px) {
	.card {
		width: 100px;
		height: 100px;
		margin: 5px;
        border-width: 4px;
	}
	.sprite {
		width: 50px;
	}
	.poketitle {
		font-size: 8px;
	}
	.btn {
		width: 2em;
		height: 2em;
		border: 5px solid #111;
	}
	.btn:before {
		width: 0.8em;
		height: 0.8em;
		border: 2px solid #111;
	}
}

@media (min-width: 601px) and (max-width: 1024px) {
	.card {
		width: 175px;
		height: 175px;
	}
	.sprite {
		width: 125px;
	}
}

@media (min-width: 1025px) {
	.card {
		width: 200px;
		height: 200px;
	}
	.sprite {
		width: 150px;
	}
}
